# Ignore virtual environment folder
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.log

# Ignore environment variable files
.env

# Ignore VSCode settings folder (if using VSCode)
.vscode/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore local database or compiled data folder
/db/

# Ignore Node modules (if using any JS or frontend)
node_modules/

# Ignore imported data files
backend/import_academic_data.py
backend/import_users.py

# Ignore Excel data files
*.xlsx

# Ignore temporary test files
backend/test_network.py

# Ignore server log file
backend/server.log
