# Ignore virtual environment folder
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment variable files
.env

# Ignore VSCode settings folder (if using VSCode)
.vscode/

# Ignore system files
.DS_Store
Thumbs.db

/db/

# ChromaDB files
db/
data/scraped_pdfs/vector_db/
*.bin
*.sqlite3
*.parquet

# ignore the node modules of the frontend folder 
frontend/node_modules

serviceAccountKey.json