fastapi
uvicorn
python-dotenv
langchain
pinecone-client
asyncio
openai
chromadb
PyPDF2
tiktoken
langchain-community
langchain-groq
langchainhub
flask 
flask-cors 



# add any other packages you know your project uses
